<!DOCTYPE html>
<html>
<script type="text/javascript" src="scripts/jquery.min.js"></script>
<script type="text/javascript" src="scripts/client.js"></script>
<link rel="stylesheet" href="css/master.css">
<!-- bellow are bootstrap links/files -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<head>
    <meta charset="utf-8">
    <title>Calculator</title>
</head>

<header>
    <h1>Calculator</h1>
</header>
<body>

  <h2 class="black" id="answer">0</h2>
  <table>
    <tr>
      <td class="ltGrey change" id="clear">AC</td>  <td class="ltGrey change" >+/-</td>  <td class="ltGrey change" >%</td>  <td class="orange operator" >/</td>
    </tr>
    <tr>
      <td class="white value" >7</td>  <td class="white value" >8</td>  <td class="white value" >9</td>  <td class="orange operator" >x</td>
    </tr>
    <tr>
      <td class="white value" >4</td>  <td class="white value" >5</td>  <td class="white value" >6</td>  <td class="orange operator" >-</td>
    </tr>
    <tr>
      <td class="white value" >1</td>  <td class="white value" >2</td>  <td class="white value" >3</td>  <td class="orange operator" >+</td>
    </tr>
    <tr>
      <td class="white zero value" >0</td>  <td class="white zero value"  ></td>  <td class="white value" >.</td>  <td class="orange change" >=</td>
    </tr>
  </table>

</body>
</html>
