body {
  margin: 0 auto;
  text-align: center;
}

table {
  text-align: center;
  border: 1px solid black;
  margin: 0 auto;
  font-size: 30px;
}

td {
  text-align: center;
  border: 1px solid grey;
  width: 80px;
  height: 80px;
}

.ltGrey {
  background-color: #cccccc;
  font-weight: 200;
}

.orange {
  background-color:#ff9900;
  color: white;
  border: 1px solid black;

}

.clickedOperator {
  background-color: #ec9614 !important;
  border: 2px solid black !important;
}

.white {
  background-color: #e5e5e5;
}

.black {
  width: 320px;
  margin: 0 auto;
  background-color: black;
  color: white;
  font-size: 80px !important;
  font-weight: 100 !important;
  text-align: right;
  padding: 70px 15px 0 0;
  border: none;
}

.lower {
  height: 50px;
}

.zero {
  border: none;
}
