body {
  margin: 0 auto;
  text-align: center;
}

table {
  text-align: center;
  border: 1px solid black;
  margin: 0 auto;
  font-size: 30px;
}

td {
  text-align: center;
  border: 1px solid grey;
  width: 80px;
  height: 80px;
}

.ltGrey {
  background-color: #cccccc;
  font-weight: 200;
}

.orange {
  background-color: #f9790e;
  color: white;
  border: 1px solid black;

}

.clickedOperator {
  background-color: #c97229 !important;
  border: 2px solid black !important;
}

.white {
  background-color: #e5e5e5;
}

.black {
  background-color: black;
  color: white;
  font-size: 80px !important;
  font-weight: 100;
  border: none;
  height: 100px;
}

.lower {
  height: 50px;
}

.zero {
  border: none;
}

#answer {
  position: absolute;
  color: white;
  font-size: 80px !important;
  font-weight: 100 !important;
}
